CONFIG_LK_EXAMPLE_CODEC_BOARD_TYPE="S3_Korvo_V2"
CONFIG_LK_EXAMPLE_SANDBOX_ID="esp32-example-1ef6vq"

CONFIG_BSP_I2C_NUM=0
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESPTOOLPY_FLASHFREQ_120M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_LV_BUILD_EXAMPLES=n
CONFIG_SPIRAM_SPEED_120M=y
