menu "Network Connect"
    config NETWORK_CONNECT_MAX_RETRIES
        int "Maximum connection retries"
        default 10
            help
                Maximum number of times to retry a failed connection.
                Set to -1 for infinite retries.
    choice NETWORK_CONNECT_MODE
        prompt "Choose network mode"
        config NETWORK_CONNECT_MODE_WIFI
            bool "WiFi"
            help
                Connect to the internet using WiFi.
    endchoice
    config NETWORK_CONNECT_WIFI_SSID
        depends on NETWORK_CONNECT_MODE_WIFI
        string "WiFi SSID"
        help
            The SSID of the WiFi network to connect to.
    config NETWORK_CONNECT_WIFI_PASSWORD
        depends on NETWORK_CONNECT_MODE_WIFI
        string "WiFi password"
        help
            The password of the WiFi network to connect to.
endmenu
