name: CI
on:
  schedule:
    - cron: 0 0 * * 1
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [main]
concurrency:
  group: "ci"
  cancel-in-progress: true
jobs:
  build-examples:
    name: Build Examples
    uses: ./.github/workflows/build_examples.yml
  license-check:
    name: License Check
    uses: ./.github/workflows/license_check.yml
  link-check:
    name: Link Check
    uses: ./.github/workflows/link_check.yml
  registry-check:
    name: Registry Check
    uses: ./.github/workflows/esp_registry.yml
    with: { dry_run: true }
    secrets:
      ESP_REGISTRY_TOKEN: ${{ secrets.ESP_REGISTRY_TOKEN }}