name: License Check
on:
  workflow_call: {}
  workflow_dispatch: {}
jobs:
  license-check:
    name: License Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check License Headers
        shell: bash
        run: |
          shopt -s globstar
          docker run -v ${PWD}:/src ghcr.io/google/addlicense \
            -check \
            -l apache \
            -c "LiveKit, Inc." \
            -ignore "components/third_party/**/*" \
            -ignore "components/**/examples/**/*" \
            -ignore "components/livekit/protocol/**/*" \
             components/**/*.{c,h}